<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>GumeGume</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="static/assets/구메구메.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="static/css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="http://127.0.0.1:8000/">GumeGume</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                       
                        <li class="nav-item"><a class="nav-link" href="/여성패션">여성의류</a></li>
                        <li class="nav-item"><a class="nav-link" href="/남성패션">남성의류</a></li>
                        <li class="nav-item"><a class="nav-link" href="/뷰티">뷰티</a></li>
                        <li class="nav-item"><a class="nav-link" href="/출산_유아동">육아</a></li>
                        <li class="nav-item"><a class="nav-link" href="/유아동패션">유아동패션</a></li>
                        <li class="nav-item"><a class="nav-link" href="/식품">식품</a></li>
                        <li class="nav-item"><a class="nav-link" href="/주방용품">주방</a></li>
                        <li class="nav-item"><a class="nav-link" href="/생활용품">생활</a></li>
                        <li class="nav-item"><a class="nav-link" href="/홈인테리어">인테리어</a></li>
                        <li class="nav-item"><a class="nav-link" href="/가전디지털">전자가전</a></li>
                        <li class="nav-item"><a class="nav-link" href="/스포츠_레저">스포츠</a></li>
                        <li class="nav-item"><a class="nav-link" href="자동차용품">자동차</a></li>
                        <li class="nav-item"><a class="nav-link" href="도서_음반_DVD">도서/음반</a></li>
                        <li class="nav-item"><a class="nav-link" href="헬스_건강식품">건강</a></li>
                        <li class="nav-item"><a class="nav-link" href="완구_취미">취미</a></li>

                        <li class="nav-item"><a class="nav-link" href="반려동물용품">반려동물</a></li>



                        </li>
                    </ul>
                    <form class="d-flex">
                        <!-- <button class="btn btn-outline-dark" type="submit">
                            <i class="bi-cart-fill me-1"></i>
                            Cart
                            <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                        </button> -->
                    </form>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">

                    <h1 class="display-4 fw-bolder">GumeGume</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Secretly from time to time</p>
                </div>
            </div>
        </header>
        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                {% for cat in best %}
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

                
                    {% for rank in cat %}
                    
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <a href="{{rank['주소']}}"  target="_blank" ><img class="card-img-top" src="{{ rank['이미지'] }}" alt="{{ rank['상품명'] }}" /></a>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{ rank['상품명'] }}</h5>
                                    <!-- Product price-->
                                    {{ rank['가격']}}원
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent" >
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{{ rank['주소'] }}">구매하기</a></div>
                            </div>
                        </div>
                    </div>
         
                    {% endfor %}
                

                <a href="/{{cat[0]['카테고리']|replace('/','_')}}" class="btn btn-lg btn-light btn-block m-1" data-v-0b78704d="">
                <h3>{{cat[0]['카테고리']}} 더보기</h3>
                </a>  
        
                    
            </div>
            <br>
            <br>
  
            <br>
            <hr style="border: solid 1.5px black;">

            {% endfor %}



           
        </section>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">이 사이트는 쿠팡 파트너스 활동의 일환으로
                일정액의 수수료를 제공받을 수 있습니다.</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="static/js/scripts.js"></script>

    </body>
</html>
