<html>
<head>
    <title>Item Details</title>
    <link href="{{ url_for('static', path='/css/test_styles.css') }}" rel="stylesheet">
    
</head>
<body>
    <!-- <h1>Item ID: {{ productId }}</h1> -->
    <p>상품명 : {{productName}}</p>
    <p>상품가격 : {{productPrice}}</p>

    <h1>Item </h1>
    <p>상품명</p>
    <p>상품가격 </p>

<!--     
    productId=data[col][0]
    productName=data[col][1]
    productPrice=data[col][2]
    productImage=data[col][3]
    productUrl=data[col][4]
    categoryName=data[col][5]
    keyword=data[col][6]
    rank=data[col][7]
    isRocket=data[col][8]
    isFreeShipping=data[col][9] -->
</body>
</html>