<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="{{productName}}에 대한 상세페이지입니다." />
        <meta name="Keywords" content="{{tag}}">
        <meta name="author" content="gumegume" />
        <meta name="Robots" content="ALL">
        <meta property="og:type" content="website"> 
        <meta property="og:title" content="GumeGume">
        <meta property="og:description" content="흥미로운 상품들을 추천해주는 종합 쇼핑채널입니다^^">
        <meta property="og:image" content="static/assets/구메구메.ico">
        <meta property="og:url" content="http://gumegume.shop">
                <!-- 핀터레스트 -->
        <meta name="p:domain_verify" content="ac77f45850bd1b90010b0ed312fa1b4d"/>
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5516338840795705"
        crossorigin="anonymous"></script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-YXTZG2FYFZ"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-YXTZG2FYFZ');
        </script>

        <title>GumeGume</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="static/assets/구메구메.ico"/>
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <!-- <link href="static/css/item_styles.css" rel="stylesheet" /> -->
        <link href="{{ url_for('static', path='/css/item_styles.css') }}" rel="stylesheet">
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="/">GumeGume</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link" href="/여성패션">여성의류</a></li>
                        <li class="nav-item"><a class="nav-link" href="/남성패션">남성의류</a></li>
                        <li class="nav-item"><a class="nav-link" href="/뷰티">뷰티</a></li>
                        <li class="nav-item"><a class="nav-link" href="/출산_유아동">육아</a></li>
                        <li class="nav-item"><a class="nav-link" href="/유아동패션">유아동패션</a></li>
                        <li class="nav-item"><a class="nav-link" href="/식품">식품</a></li>
                        <li class="nav-item"><a class="nav-link" href="/주방용품">주방</a></li>
                        <li class="nav-item"><a class="nav-link" href="/생활용품">생활</a></li>
                        <li class="nav-item"><a class="nav-link" href="/홈인테리어">인테리어</a></li>
                        <li class="nav-item"><a class="nav-link" href="/가전디지털">전자가전</a></li>
                        <li class="nav-item"><a class="nav-link" href="/스포츠_레저">스포츠</a></li>
                        <li class="nav-item"><a class="nav-link" href="/자동차용품">자동차</a></li>
                        <li class="nav-item"><a class="nav-link" href="/도서_음반_DVD">도서/음반</a></li>
                        <li class="nav-item"><a class="nav-link" href="/헬스_건강식품">건강</a></li>
                        <li class="nav-item"><a class="nav-link" href="/완구_취미">취미</a></li>
                        <li class="nav-item"><a class="nav-link" href="/반려동물용품">반려동물</a></li>
                    </ul>
                    <form class="d-flex">
                        <!-- <button class="btn btn-outline-dark" type="submit">
                            <i class="bi-cart-fill me-1"></i>
                            Cart
                            <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                        </button> -->
                    </form>
                </div>
            </div>
        </nav>
        <!-- Product section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6"><a href="{{productUrl}}" target="_blank"><img class="card-img-top mb-5 mb-md-0" src="{{productImage}}" alt="{{productName}}"  /></a></div>
                    <div class="col-md-6">
                        
                        <h4 class="display-6 fw-bolder">{{productName}}</h4>
                        <br>
                        <div class="fs-4 mb-4">
                            <span>🏆 {{keyword}} 랭킹 : {{rank}}</span>
                        </div>
                        <div class="fs-4 mb-4">
                            <span>🚀로켓배송 : {{isRocket}}  |  🚚무료배송 : {{isFreeShipping}}</span>
                        </div>
                        
                        <div class="fs-4 mb-4">
                            <span>💰가격 : {{productPrice}} 원</span>
                        </div>
                        <div class="fs-4 mb-4">
                            <span>연관검색어 : {{tag}}</span>
                        </div>
                       

                        <p class="lead"></p>
                        <div class="d-flex">
                            
                            <button class="btn btn-outline-dark flex-shrink-0" type="button" onclick="window.open('{{productUrl}}')">
                                
                                <h4>🔎 자세히 보기</h4>
                            </button>
                          
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Related items section-->
        <section class="py-5 bg-light">
            <div class="container px-4 px-lg-5 mt-5">
                <h2 class="fw-bolder mb-4">비슷한 상품 추천!</h2>
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    {% for cat in temp %}
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <a href="{{cat['주소']}}" target="_blank" ><img class="card-img-top" src="{{cat['이미지']}}" alt="{{cat['상품명']}}" /></a>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h6 class="fw-bolder">{{cat['상품명']}}</h6>
                                    <!-- Product price-->
                                    {{cat['가격']}} 원
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{{cat['주소']}}"  target="_blank" >🔎 자세히 보기</a></div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                   
                </div>
            </div>
            <!-- <iframe src="https://ads-partners.coupang.com/widgets.html?id=592017&template=carousel&trackingCode=AF4048649&subId=&width=900&height=100" width="1000" height="150" frameborder="0" scrolling="no" referrerpolicy="unsafe-url"></iframe> -->
        </section>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">이 사이트는 쿠팡 파트너스 활동의 일환으로
                일정액의 수수료를 제공받을 수 있습니다.</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="static/js/item_scripts.js"></script>
    </body>
</html>
