<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="유사도검사 결과를 제공합니다." />
        <meta name="author" content="PySynTax" />
        <meta name="Keywords" content="유사도검사">
        <meta name="Robots" content="ALL">

        <meta property="og:type" content="website">
        <meta property="og:title" content="유사도검사">
        <meta property="og:description" content="유사도검사 결과를 제공합니다.">
        <meta property="og:image" content="{{ url_for('static', path='/assets/파이신택스.ico') }}">
        <meta property="og:url" content="https://pysyntax.com">
        <!-- 핀터레스트 -->
        <meta name="p:domain_verify" content="ac77f45850bd1b90010b0ed312fa1b4d"/>
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5516338840795705"
         crossorigin="anonymous"></script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-YXTZG2FYFZ"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-YXTZG2FYFZ');
        </script>
        <title>PySynTax</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', path='/assets/파이신택스.ico') }}" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="static/css/styles.css" rel="stylesheet" />
        <!-- bootstrap -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="/">Home</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="/검색상위종목">검색상위종목</a></li>
                        <li class="nav-item"><a class="nav-link" href="/글자수세기">글자수세기</a></li>
                        <li class="nav-item"><a class="nav-link" href="/유사도검사">유사도검사</a></li>
                        <li class="nav-item"><a class="nav-link" href="/문서자동요약">문서자동요약</a></li>
                        <li class="nav-item"><a class="nav-link" href="/황금키워드">황금키워드</a></li>

                    </ul>
                    <form class="d-flex">

                    </form>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-dark py-5" >


                <div class="text-center text-white">

                    <h1 class="display-4 fw-bolder" >📑유사도검사</h1>

                </div>
            </div>
        </header>
        <!-- Section-->
        <section class="py-5">

            <div class="container px-4 px-lg-5 mt-5">



                <form  method="POST" >
                    <div>
                    <center><h2 color:red;>😀문서의 유사도를 미리 체크해서 유사문서를 예방하세요.</h2></center>
                    </div>
                    <!-- Message input -->
                    <div class="form-outline mb-4">
                        <h5>문서1</h5>
                        <hr>
                      <textarea class="form-control" id="form4Example3"  name="text1" rows="7" placeholder="글자를 입력하거나, 복사 후 붙여 넣어주세요.">{{text1}}</textarea>
                      <label class="form-label" for="form4Example3" ></label>
                    </div>
                    <div class="form-outline mb-4">
                        <h5>문서2</h5>
                        <hr>
                        <textarea class="form-control" id="form4Example3"  name="text2" rows="7" placeholder="글자를 입력하거나, 복사 후 붙여 넣어주세요.">{{text2}}</textarea>
                        <label class="form-label" for="form4Example3" ></label>
                      </div>
                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-block mb-4">유사도 확인</button>
                  </form>
                    <div class="container px-4 px-lg-5 my-5">
                  <center>
                    <hr>
                    <h5>유사도 : {{result}}</h5>
                    <hr>
                  </center>
                    </div>
                    <div>
                        <h1>유사도검사 측정방법</h1>
                        <p>문서의 유사도란 논문의 표절 여부를 확인할 때 많이 사용하게됩니다. </p>
                        <p>현재에 와서는 비슷한 내용의 뉴스를 추천해주거나, 책추천 등이 있으며</p>
                        <p>최근에는 블로그를 통한 글쓰기를 할 때, 내가 많이 참고한 자료와 내가 작성한 글이 얼마나 비슷한지! 유사문서로 분류되지는 않을지에 대해서</p>
                        <p>어느 정도 미리 알 수 있게되는 장점이 있습니다. </p>
                        <p>이러한 문서의 유사도를 구하는 방법은 여러가지가 있지만, 이 사이트에서 계산할 땐 '코사인유사도'를 바탕으로 계산이 됩니다.</p>
                    </div>
                        <div><h4>코사인유사도란?</h4>
                        <p>두 벡터 사이의 각도를 구해서 얼마나 유사한지 수치로 표현하는 것입니다.</p>
                        <p>벡터의 방향이 비슷할수록 유사하며 90도일 경우에는 관련성이 없고, </p>
                        <p>반대방향이라면 반대관계를 보이게됩니다.(텍스트 외에도 이미지, 주가와 같은 시계열데이터 등도 가능합니다)</p>
                        <hr>
                        <h6>대략적인 계산과정은 아래와 같습니다.</h6>
                        <p>1. 입력된 2개의 텍스트를 각각 벡터화</p>
                        <p>2. 두 벡터의 각도를 비교</p>
                        <p>
                            조금 더 자세한 내용이 궁금하신 분은 아래 링크를 참고하시면 됩니다.
                            감사합니다.
                        </p>
                        <a href="https://wikidocs.net/24603"><p>위키독스 : 코사인유사도</p></a>
                    </div>
                    <hr>

            </div>


        </section>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">© 2022. PySynTax.</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{{ url_for('static', path='/js/scripts.js') }}"></script>

    </body>
</html>
