<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="N포털 기준 포화도 10% 미만의 키워드들을 제공합니다." />
        <meta name="author" content="PySynTax" />
        <meta name="Keywords" content="황금키워드">
        <meta name="Robots" content="ALL">

        <meta property="og:type" content="website">
        <meta property="og:title" content="황금키워드 무료제공">
        <meta property="og:description" content="N포털 기준 포화도 10% 미만의 키워드들을 제공합니다.">
        <meta property="og:image" content="{{ url_for('static', path='/assets/파이신택스.ico') }}">
        <meta property="og:url" content="https://pysyntax.com">
        <!-- 네이버 -->
        <meta name="naver-site-verification" content="64a1023111f13126b28af3e611560bc44fac9bff" />
        <!-- 핀터레스트 -->
        <meta name="p:domain_verify" content="ac77f45850bd1b90010b0ed312fa1b4d"/>

        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5516338840795705"
         crossorigin="anonymous"></script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-YXTZG2FYFZ"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-YXTZG2FYFZ');
        </script>
        <title>PySynTax</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', path='/assets/파이신택스.ico') }}" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="static/css/styles.css" rel="stylesheet" />
        <!-- bootstrap -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="/">Home</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="/검색상위종목">검색상위종목</a></li>
                        <li class="nav-item"><a class="nav-link" href="/글자수세기">글자수세기</a></li>
                        <li class="nav-item"><a class="nav-link" href="/유사도검사">유사도검사</a></li>
                        <li class="nav-item"><a class="nav-link" href="/문서자동요약">문서자동요약</a></li>
                        <li class="nav-item"><a class="nav-link" href="/황금키워드">황금키워드</a></li>

                    </ul>
                    <form class="d-flex">

                    </form>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-dark py-5" >


                <div class="text-center text-white">

                    <h1 class="display-4 fw-bolder" >💰황금키워드 List</h1>

                </div>
            </div>

        </header>
        <!-- Section-->
        <div class="container px-4 px-lg-5 my-5">

              <hr>
              <h4>😀안 내 사 항</h4>
              <br>
              <p>✔문 서 수 : 최근 한 달 동안 발행된 문서의 수</p>
              <p>✔포 화 도 : (문서수/TOTAL조회수) X 100 </p>
              <p>✔수집주기 : 매일 새벽1시~ 8시 사이</p>
              <p>✔필    터 : PC & 모바일 조회수 >100, 경쟁강도="낮음", 포화도 < 10% </p>
              <p>✔키워드는 매일 갱신되기에 특정 키워드에 사용자가 몰리더라도 포화도가 10%넘어갈 경우 자동으로 노출배제됩니다.</p>
              <p>✔이 사이트는 유저분들의 피드백으로 발전해나갑니다. 아래 테이블에 추가됐으면 하는 기능이 있으면 연락주세요.</p>


              <hr>

              </div>
        <section class="py-5">

            <div class="container px-4 px-lg-5 mt-5">
                <h3>({{ now }}) | 키워드 수 : {{count}}개</h3>
                <hr>

                <table class="table">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">키워드</th>
                        <th scope="col">월간검색_PC</th>
                        <th scope="col">월간검색_모바일</th>
                        <th scope="col">TOTAL검색</th>
                        <th scope="col">경쟁정도</th>
                        <th scope="col">문서수</th>
                        <th scope="col">키워드포화도</th>

                      </tr>
                    </thead>
                    <tbody>
                    {% for d in data %}
                      <tr>
                        <th scope="row">{{ d[0] }}</th>
                        <td>{{ d[1] }}</td>
                        <td>{{ d[2] }}</td>
                        <td>{{ d[3] }}</td>
                        <td>{{ d[4] }}</td>
                        <td>{{ d[5] }}</td>
                        <td>{{ d[6] }}%</td>


                      </tr>

                    {% endfor %}

                    </tbody>
                  </table>


            </div>

        </section>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">© 2022. PySynTax.</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{{ url_for('static', path='/js/scripts.js') }}"></script>

    </body>
</html>
